{% extends "layout.html" %}
{% block content %}
	<h1 id="main-title">My account</h1>
    <h2 id="username">Username : {{ session['username'] }}</h2>
    <div class="content-section" id="cart">Your cart balance : {{ total }} $
    <p></p>
 		{% for product in products_in_cart %}
        <ul>
            <li><a href="categories/{{ product.category.lower() }}/products/{{ product.id_product }}">{{ product.name }}</li></a>
            <ul>
            	<li>id : {{ product.id_product }}</li>
            	<li>Category : {{ product.category }}</li>
            	<li>Price : {{ product.price }} $</li>
            	<li>Quantity in cart : {{ product.quantity_in_cart }}</li>
            	<li>Subtotal : {{ product.subtotal_price }} $</li>
            	<li><a href="delete_product/{{ product.id_product }}">Delete product</a></li>
            </ul>
        </ul>
	{% endfor %}
    </div>
{% endblock content %}
