{% extends "layout.html" %}
{% block content %}
	<h1 id="main-title">Categories</h1>
	<div class="content-section">
 	{% for category in categories %}
        <ul>
            <li><a href="categories/{{ category.lower() }}"> {{ category }}</li>
        </ul>
	{% endfor %}
	</div>
{% endblock content %}
	