{% extends "layout.html" %}
{% block content %}
	<h1 id="main-title">Products : {{ category.capitalize() }}</h1>
	<div class="content-section">
 	{% for product in products %}
        <ul>
            <li>
            	<a href="/categories/{{ category }}/products/{{ product.id_product }}">{{ product.name.capitalize() }}</a>
            </li>
        </ul>
	{% endfor %}
	</div>
{% endblock content %}