{% extends "layout.html" %}
{% block content %}

	<h1 id="main-title">{{ product.name.capitalize() }}</h1>
    <div class="content-section">
    <p>id : {{ product.id_product }}</p>
    <p>Price : {{ product.price }} $</p>
    <p>Description : {{ product.description.capitalize() }}.</p>
    <p>Category : {{ product.category }}</p>
    <p>Quantity : {{ product.quantity }}</p>
    </div>
    <p><img src={{ product.image }}></p>
    
    {%  if 'logged_in' in session and session['logged_in'] %}
	<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add to my cart</legend>
                <div class="form-group">
                    {{ form.quantity_desired.label(class="form-control-label") }}
                    {% if form.quantity_desired.errors %}
                        {{ form.quantity_desired(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.quantity_desired.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.quantity_desired(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.add_to_my_cart(class="btn btn-outline-info") }}
            </div>
        </form>
	<div>
    {% endif %}
{% endblock content %}


